body{
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    border: 2px solid #1e90ff;
    padding: 10px; 
}

.calculator{
    width:320px;
    border:2px solid #000;
    padding: 30px;
    background-color: #fff;
}

#display{
    width:100%;
    height:50px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    border:2px solid #000;
}

.buttons{
    display: grid;
    /* margin-left: 18px; */
    grid-template-columns: repeat(4,1fr);
    gap:8px;
}

button{
    padding: 12px;
    font-size: 16px;
    cursor:pointer;
    border:1.5px solid #000;
    background-color: #f2f2f2;
}

button:hover{
    background-color: #ddd;
}
