<div class="container">

  <!-- Header -->
  <div class="quiz-header">
    <span>{{ course }}</span>
    <span>{{ username }}</span>
  </div>

  <!-- Progress Bar -->
  <div class="progress-container">
    <div
      class="progress-bar"
      [style.width.%]="progressPercentage">
    </div>
  </div>

  <p class="progress-text">
    Question {{ currentIndex + 1 }} of {{ questions.length }}
  </p>

  <!-- Question -->
  <h2>{{ currentQuestion.question }}</h2>

  <!-- Timer -->
  <div class="timer" [class.warning]="timeLeft <= 5">
    {{ timeLeft }}
  </div>

   <!-- Keyboard hint-->
  <p class="keyboard-hint" *ngIf="!showFeedback">
    Use ↑↓ arrows to navigate • Press Enter to select
  </p>

  <!-- Options -->
  <div id="options">
    <button
      *ngFor="let option of currentQuestion.options; let i = index"
      class="option-btn"
      [class.focused]="focusedOptionIndex === i && !showFeedback"
      [class.selected]="selectedAnswer === option"
       [class.correct]="showFeedback && option === correctAnswer"
      [class.wrong]="showFeedback && selectedAnswer === option && !isAnswerCorrect"
      [class.disabled]="showFeedback"
      (click)="selectOption(option)"
       [disabled]="showFeedback">
      {{ option }}
    </button>
  </div>

<!-- Feedback Message -->
  <div *ngIf="showFeedback" class="feedback" [class.correct]="isAnswerCorrect">
    <span *ngIf="isAnswerCorrect">✓ Correct!</span>
    <span *ngIf="!isAnswerCorrect">✗ Wrong! Correct answer is: <strong>{{ correctAnswer }}</strong></span>
  </div>

  <!-- Next Button -->
  <!-- <button
    *ngIf="!showFeedback"
    id="nextBtn"
    (click)="nextQuestion()"
    [disabled]="!selectedAnswer">
    Next
  </button> -->

</div>