<div class="container">
  <h1>Leaderboard</h1>

  <table role="table" aria-label="Leaderboard of quiz scores">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Course</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody *ngIf="leaderboardData.length > 0; else noData">
      <tr *ngFor="let item of leaderboardData; let i = index"
      [class.top-rank]="i < 3">
        
         <td class="rank-cell">
          <span *ngIf="i === 0" class="medal gold">🥇</span>
          <span *ngIf="i === 1" class="medal silver">🥈</span>
          <span *ngIf="i === 2" class="medal bronze">🥉</span>
          <span *ngIf="i > 2" class="rank-number">{{ i + 1 }}</span>
        </td>


        <td>{{ item.name }}</td>
        <td>{{ item.course }}</td>
        <td class="score-cell">{{ item.score }}/{{ item.total }}</td>
        <td>{{ item.date }}</td>

      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <tbody>
    <tr>
      <td colspan="5">No records found</td>
    </tr>
    </tbody>
  </ng-template>

  <button class="backBtn" (click)="goHome()">
    Back to Home
  </button>
</div>